<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.Blonk.app.BlonkPushPlugin"
      version="0.1.0">
    <name>Blonk Push Plugin</name>
    <description>Sample PhoneGap Calendar Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,calendar</keywords>
 
 
    <js-module src="www/blonkPushPlugin.js" name="BlonkPushPlugin">
        <clobbers target="blonkPushPlugin" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BlonkPushPlugin">
                <param name="android-package" value="com.Blonk.app.BlonkPushPlugin"/>
            </feature>
        </config-file>
 
        <source-file src="src/android/BlonkPushPlugin.java" target-dir="src/com/Blonk/app/" />      
     </platform>          
</plugin>